**/target/**
**/sap/watt/**
**/sap/hana/cst/common/lib/**
**/sap/hana/cst/docs/file/**
**/test-resource/lib/**
**/test-resource/report/**
**/sapui5/resources/**
**/node_modules/**
**/build.scripts/**
**/etc/**/*.json
**/coverage*/**
*/node/**
node/**
hrtt-core/test-resource/test/testing-env.json
**/testing-env.tmpl.json
run-qunit.js
coverage.json
coverage-final.json
output-eslint.*
